<div id="home">
  <app-nav [title]="title"></app-nav>
  <div class="content">
      <div class="content-text">
        <h1><strong>About Easy Race</strong></h1>
        <p>
          <strong>Easy Race aims to allow sports associations and others to easily configure circuit races</strong>.
        </p>
        <p><strong>CONFIGURATION</strong>:<br/>Users can customize the races with their own data such as the location where they take place, 
          the date, the title of the event, the organizer and other optional data.<br/>Create race categories with their name 
          and the laps to be completed.<br/>Register athletes for the race by entering their data, the race category and assign 
          them a personalized race number.<br/>The user can modify the configuration and add and remove athletes from a race.<br/>
          Once the race is over, the possibility of modifying the configuration will no longer be possible and the user will only be 
          able to use it for consultation purposes.
        </p>
        <p><strong>MANAGEMENT</strong>:<br/>Users can start the race with all athletes or divide the start according to categories or 
          groups of categories.<br/>If the configuration shows that all categories complete the same number of laps, the system offers 
          users the option to also view the overall ranking.<br/>Users can only exit race management by marking the race as completed 
          or canceling the event.
        </p>
        <p>
          <strong>
            Although users can use Easy Race with any device, considering the type of data displayed, the use of desktop or laptop devices 
            is recommended.
          </strong>
        </p>
    </div>
  </div>
  <div class="footer">Gianfranco Manca 2024</div>
</div>
