@use '../../../../assets/scss/base.scss';
#officerDialog {
  max-width: 700px;
  border-radius: 10px;
  padding: 0 5px 0 5px;
  background-color:base.$greenDisabled;
  color: white;
  h2 {color:base.$blue;}
  mat-dialog-content {color:base.$blue;}
}